# String Formatting in Python

Python contains a number of different approaches for formatting strings. In this notebook we discuss the traditional approach from Lecture 3, and two newer approaches introduced more recent version of Python.

## Traditional String Formatting

In Lecture 3 we saw the traditional type of string formatting, which makes use of the **%-operator**. This approach was common in Python 2 and is still supported in Python 3.

With this approach, special placeholder codes are used when building a format string. Each placeholder should correspond to the type of the value that will replace it. For numbers, we can use *format specifiers* to change the precision:
- %d: integer
- %f: floating point, with default precision
- %.Nf: floating point to *N* decimal places)
- %s: a string (or any value)

In [1]:
"%s and %s and %s" % ("one", "two", "three")

'one and two and three'

In [2]:
"%d and %d and %d" % (1, 2, 3)

'1 and 2 and 3'

In [3]:
"%.2f and %.2f and %.2f" % (1, 2, 3)

'1.00 and 2.00 and 3.00'

In [4]:
title = "News of the World"
lead_actor = "Tom Hanks"
year = 2020
rating = 6.879
"The %d movie %s starring %s has an IMDB rating of %.1f" % (year, title, lead_actor, rating)

'The 2020 movie News of the World starring Tom Hanks has an IMDB rating of 6.9'

In [5]:
scores = [0.8914, 0.9142, 0.0343, 0.2313]
print("%.1f, %.1f, %.1f, %.1f" % (scores[0], scores[1], scores[2], scores[3]))
print("%.2f, %.2f, %.2f, %.2f" % (scores[0], scores[1], scores[2], scores[3]))
# add zeros in front
print("%08.3f, %08.3f, %08.3f, %08.3f" % (scores[0], scores[1], scores[2], scores[3]))
# add spaces in front
print("%8.3f, %8.3f, %8.3f, %8.3f" % (scores[0], scores[1], scores[2], scores[3]))

0.9, 0.9, 0.0, 0.2
0.89, 0.91, 0.03, 0.23
0000.891, 0000.914, 0000.034, 0000.231
   0.891,    0.914,    0.034,    0.231

## Formatting with str.format()

However, once you start using several parameters and longer strings, the previous approach becomes difficult to read.

Python 3 introduced a new approach for string which removes the requirement for the %-operator. Formatting is now handled by calling the **.format()** function on a string value.

For a comprehensive set of examples for this formatting syntax, see https://pyformat.info/

With *str.format()*, the placeholder fields are marked by curly brackets:

In [6]:
name = "Alice"
"Hello, {}".format(name)

'Hello, Alice'

In [7]:
s = "{} and {} and {}"
s.format("one", "two", "three")

'one and two and three'

In [8]:
s.format(1, 2, 3)

'1 and 2 and 3'

We can reference variables in any order by referencing their index:

In [9]:
name, age = "Bob", 25
when = "today"
"{2} is {1} years old {0}.".format(when, age, name)

'Bob is 25 years old today.'

We can also added named placeholders:

In [10]:
'Capital of {country}: {city}, {country}'.format(city='Dublin', country='Ireland')

'Capital of Ireland: Dublin, Ireland'

We can format or pad numbers as with the previous approach, using placeholders and *format specifiers*:

In [11]:
'{:d}'.format(42)

'42'

In [12]:
# floating point, 4 decimal places
'{:.4f}'.format(42)

'42.0000'

In [13]:
x = 13.543646
# format to 2 decimal places
print("{:.2f}".format(x))
# output should have at least 6 characters, with 2 decimal places
print("{:06.2f}".format(x))

13.54
013.54

We can left, right or centre align strings:

In [14]:
# align left
"{:12}".format("Dublin")

'Dublin      '

In [15]:
# align right
"{:>12}".format("Dublin")

'      Dublin'

In [16]:
# centre the string
"{:^12}".format("Dublin")

'   Dublin   '

We can also truncate long strings to make the shorter:

In [17]:
"Word: {:.5}".format("xylophone")

'Word: xylop'

## Formatting with F-Strings

A third approach to string formatting was introduced in Python 3.6, which is called formatted string literals or *f-strings*. 

Here we prefix the formatting string with 'f':

In [18]:
name = "Alice"
f"Hello, {name}!"

'Hello, Alice!'

In [19]:
# be careful with quote characters
f"{'one'} and {'two'} and {'three'}"

'one and two and three'

We can format numbers like in the two previous formatting methods, using format specifiers:

In [20]:
x = 0.234535
# 2 decimal places
print( f"{x:.2f}" )
# at least 8 characters, with 3 decimal places
print( f"{x:08.3f}" )
# percentage with 1 decimal palce
print( f"{x:.1%}" )

0.23
0000.235
23.5%

We can reference existing variables in an f-string, and perform operations

In [21]:
a = 6
b = 10
f"Six plus ten is {a + b} and not {2 * (a + b)}"

'Six plus ten is 16 and not 32'

To make curly brackets appear in a string, we need to use double braces:

In [22]:
f"{{{50 * 5}}}"

'{250}'

F-strings are useful when working with dictionaries, where we can specify key names:

In [23]:
person = {'name': 'Lionel Messi', 'year': 1987, 'country' : 'Argentina'}
f"The football player {person['name']} was born in {person['country']} in {person['year']}."

'The football player Lionel Messi was born in Argentina in 1987.'

In [24]:
table = {'Alice': 8763, 'Bob': 5578, 'Sarah': 3434}
for name, phone in table.items():
    print(f"{name:10} ==> {phone:10d}")

Alice      ==>       8763
Bob        ==>       5578
Sarah      ==>       3434

We can also "unpack" a list to create a string containing all of its values:

In [25]:
a = [1, 2, 3, 4, 5, 6]
f"Unpacked list: {*a,}"

'Unpacked list: (1, 2, 3, 4, 5, 6)'