# Python Basics

In this notebook we will look at some of the fundamental aspects of the Python programming language.

## Variables and Assignment

A *variable* is container in memory, which has a unique name or identifier, where you can store information.

In Python we can start using a variable by assigning it a value, where the *=* symbol denotes the *assignment operator*.

In [1]:
a = 100

In [2]:
b = 50

Python has a number of variable naming rules:
* Names can contain both letters and numbers, but must begin with a letter
* Names can contain the underscore character
* Names should not clash with reserved keywords

We can assign multiple values to multiple variables by separating variables and values with commas:

In [3]:
v1, v2 = 1024, 2048

In [4]:
x, y, z = 5, -11, 34

In a Jupyter notebook, we can display the value of any variable:

In [5]:
x

5

We can also display the value in a variable using the *print* function - note the use of parentheses.

In [6]:
print(x)

5

Print can accept multiple arguments separated by commas:

In [7]:
print(v1, v2)

1024 2048

In [8]:
print(v1, v2, x, y, z)

1024 2048 5 -11 34

Each variable has a *type*, indicating the nature of the value that it stores.

In [9]:
type(x)

int

In [10]:
type("UCD")

str

Numeric data can be *integers* (whole numbers) or *floats* (real values):

In [11]:
a = 3
b = -125
fx = 0.432
fy = -24.23

*Boolean* values can be indicated by *True* or *False* - case sensitive! Can alternatively we can use '1' and '0'

In [12]:
answer = True
test_value = False

A *string* value containing text is enclosed within either single quotes or double quotes - make sure you end with the same character:

In [13]:
some_text = "hello world"
moredata = 'university college dublin, ireland'

In [14]:
print(some_text)

hello world

## Arithmetic Operators

Operators are special symbols in Python that carry out arithmetic or logical operations.

We can use Python as a simple calculator, by using *arithmetic operators* such as +, -, *, /

In [15]:
10 + 5 + 15

30

We can use combinations of these and values to create *expressions*, which are the building blocks of Python code.

In [16]:
a = 4 * 3 + 2
a

14

In [17]:
b = a - 2
b

12

We can also use operators to perform assignment and an operation on the same variable. Note that these lines include *comments* - everything from # onwards is ignored.

In [18]:
a += 2   # add 2 to the value currently in a and assign it back to a
b -= 1   # subtract 1 from the value currently in b and assign it back to b

Parentheses can be used to control the *order* in which operators are applied:

In [19]:
4 + 10 / 2  # Division will normally be applied first

9.0

In [20]:
(4 + 10)/2  # Use parenthesis to apply addition first, then division

7.0

There are also other operators, such as %,// and ** (modulo, floor division and ‘to the power’)

In [21]:
3**2 # raise first number to the power of the second

9

In [22]:
10 % 3 # get the remainder on division

1

## Comparison Operators & Boolean Expressions

Any value or variable in Python can be tested for a 'truth value'. These will yield a value of True or False, depending on what we are testing. 

These tests often involve using *comparison operators* - e.g. equality, inequality, greater/less than.

In [23]:
x = 75 # don't confuse assignment with equality!

In [24]:
x == 75 # test for equality

True

In [25]:
x == 100 # test for equality

False

In [26]:
x != 100 # test for inequality

True

In [27]:
x < 1000 # less than

True

In [28]:
x > 0 # greater than

True

Python contains boolean operators to create more complex boolean expressions:
* *not x*: returns False if x is True, returns True if x is False
* *x and y*: if both x and y are True then return True, otherwise False
* *x or y*: if either x or y are True then return True, otherwise False

In [29]:
True and True

True

In [30]:
True and False

False

In [31]:
True or False

True

In [32]:
not True

False

In [33]:
test_result = (x > 0 and x < 100)
test_result

True

## Identity Operators

Python provides two *identity operators*

- *is* returns True if the type of the value on the right points to the same type in the left.
- *is not* returns True if the type of the value on the right points to a different type than the value in the left.

In [34]:
value1 = "Dublin"
value2 = "Dublin"
value3 = 500

In [35]:
value1 is value2

True

In [36]:
value1 is value3

False

Python provides a special value *None* to indicate a variable containing an empty or "null" value:

In [37]:
value4 = None

Often we might want to check if a value is *None* (i.e. null or empty):

In [38]:
value3 is None

False

In [39]:
value4 is None

True