# Data Structures

Python includes built-in variable types for a number of fundamental data structures, including lists, tuples, sets, and dictionaries (sometimes called maps). 

In this notebook we will look at creating and using variables for each of these types.

## Lists

A *list* is an ordered collection of values. These values can have different types. Lists definitions are enclosed within square brackets.

In [59]:
# create an empty list
mylist = []       
mylist

[]

In [60]:
# create a list of 3 integers
numbers = [12, 108, 21]
numbers

[12, 108, 21]

In [61]:
# a list containing 4 different variables of different types
somedata = ["text", 7, 0.34, True]
somedata

['text', 7, 0.34, True]

Entries in a list are accessed by specifying the *index* in square brackets - i.e. the position of the value in the list. 

Note: We always count from 0 in Python, so the first entry in a list has index 0.

In [62]:
values = [34, 9, 12, 34]
values[0]

34

We can count from the end of the list backwards by using negative index numbers. The index -1 is the last entry in the list, the index -2 is the second last entry, and so on.

In [63]:
values[-2]

12

**Nesting**: 

Lists can also be contained within other lists, which allows the construction of hierarchical data structures.

In [64]:
child1 = [12, 108, 23]
child2 = [99, 4]
child3 = ["a","b","c"]
parent = [ child1, child2, child3 ]
print(parent)

[[12, 108, 23], [99, 4], ['a', 'b', 'c']]

Values in nested lists can be accessed using multiple indexes in square brackets:

In [65]:
parent[0][2]

23

In [66]:
parent[2][1]

'b'

**Slicing**: 

Lists can also be *sliced* to access subsets of that list. The notation is [i:j], where *i* is the start index inclusive and *j* is the end index exclusive. Remember that we always count from index 0.

In [67]:
fulllist = [9, 12, 23, 18, 21]
fulllist[0:2] # start at 1st item, end before 3rd item

[9, 12]

In [68]:
fulllist[0:3]  # first three items

[9, 12, 23]

When slicing, the default for i is 0, default for j is the end of the string.

In [69]:
fulllist[1:] # all items from the 2nd one onewards

[12, 23, 18, 21]

In [70]:
fulllist[:4] # start at 1st item, end before 5th item

[9, 12, 23, 18]

**Modifiying lists**: 

Entries in a list can be changed after the list is created by specifying the index and performing assignment.

In [71]:
values = [34, 9, 12, 34]
values[2] = 5000
print(values)

[34, 9, 5000, 34]

If we try to assign a value to an index that is beyond the length of the list, we will get an error message. Instead, we can add a value to the end of a list using the *append()* function:

In [72]:
values.append("extra")
print(values)

[34, 9, 5000, 34, 'extra']

We can also concatenate two or more lists together using the plus + operator:

In [73]:
values + [11, 27]

[34, 9, 5000, 34, 'extra', 11, 27]

In [74]:
["A","B"] + ["Y","Z"]

['A', 'B', 'Y', 'Z']

We can insert a new value at a particular location in a list by using its associated *insert()* function. We specify the position and the value to insert as arguments. All the entries after that position are shifted to the right.

In [75]:
values.insert(2, 88)
values

[34, 9, 88, 5000, 34, 'extra']

**Checking lists**: 

The *in* identity operator can be used to test if a value is contained in a list. The result is a boolean value.

In [76]:
mylist = [3,6,9,12]

In [77]:
3 in mylist

True

In [78]:
27 in mylist

False

The logical *not in* operator can be used to test if a value is missing from a list.

In [79]:
27 not in mylist

True

**Related functions:** 

A variety of built-in functions can be used with lists.

For instance, we can check the length of a list using the built-in *len()* function:

In [80]:
len(values)

6

We can sort the items in a list by a calling the *sort()* function on the list. Note that this sorts the list "in place" - i.e. the list itself is modified, rather than copied.

In [81]:
letters = ["b", "d", "a", "c"]
letters.sort()
print(letters)

['a', 'b', 'c', 'd']

We can also use the Python *sorted()* function, which returns a new sorted list, leaving the original list unchanged:

In [82]:
grades = ["B", "A", "C", "C", "A", "E"]
sorted(grades)

['A', 'A', 'B', 'C', 'C', 'E']

## Tuples

*Tuples* are like lists but are "immutable". This means that they cannot be modified after creation. 

Tuples are created using parenthesis notation, with values separated by commas.

In [83]:
suits = ("hearts", "diamonds", "spades", "clubs")
suits

('hearts', 'diamonds', 'spades', 'clubs')

Values in tuples are also accessed using the same square bracket index notation that we saw for lists.

In [84]:
suits[0]

'hearts'

In [85]:
suits[-1]

'clubs'

Like lists, different types of variables can be contained within the same tuple.

In [86]:
t = (123, True, "UCD", 123.23)
t

(123, True, 'UCD', 123.23)

However, unlike lists, we cannot modify the tuple once it has been defined. If we try to assign a new value to an index in the tuple, we will get an error message.

In [87]:
# t[3] = 3435

## Sets

Sets are unordered lists which contain no duplicate values. Sets do not have an order, so we cannot index into them by position.

We can create a new set using curly brackets notation:

In [88]:
countries = {"Ireland", "Spain", "Italy", "Croatia"}
countries

{'Croatia', 'Ireland', 'Italy', 'Spain'}

In [89]:
# a set with 4 different types
mix = {"UCD", 2000, True, 15.6}
mix

{15.6, 2000, True, 'UCD'}

To make a set without any elements, we call the *set*() function without any argument:

In [90]:
elements = set()
elements

set()

We can also create sets from lists, strings or any other iterable value, using the *set()* function:

In [91]:
mylist = [1, 3, 1, 4, 3, 6, 8, 1, 4, 4]
set(mylist)

{1, 3, 4, 6, 8}

Note that only the unique values from the original list are retained:

In [92]:
winners = ["Brazil", "Germany", "Argentina", "Italy", "Argentina", "Germany", "Brazil", "France", "Brazil", "Italy"]
set(winners)

{'Argentina', 'Brazil', 'France', 'Germany', 'Italy'}

The 'in' membership operator also works on sets:

In [93]:
names = {"Bill", "Lisa", "Ted"}

In [94]:
'Bill' in names

True

In [95]:
'Sharon' in names

False

**Modifying sets:** 

To add a single value to an existing set, we call its associated *add()* function:

In [96]:
names.add("Catherine")
names

{'Bill', 'Catherine', 'Lisa', 'Ted'}

Note that sets do not allow duplicates, so adding the same value multiple times has no effect:

In [97]:
names.add("Olivia")
names.add("Olivia")
names.add("Olivia")
names

{'Bill', 'Catherine', 'Lisa', 'Olivia', 'Ted'}

We can add multiple values to an existing set using its *update()* function. This function can take tuples, lists, strings or other sets as its argument.

In [98]:
names.update(["Bob", "Alice", "John"])
names

{'Alice', 'Bill', 'Bob', 'Catherine', 'John', 'Lisa', 'Olivia', 'Ted'}

**Comparing sets:** 

We can then calculate unions, intersections and differences between pairs of sets.

In [99]:
x = {1, 2, 3, 4}
y = {3, 4, 5, 6}

In [100]:
# which values are in both x and y?
x.intersection(y)

{3, 4}

In [101]:
# which are values are in either x or y, or both?
x.union(y)

{1, 2, 3, 4, 5, 6}

In [102]:
# which values are in x but not in y?
x.difference(y)

{1, 2}

In [103]:
# which values are in y but not in x?
y.difference(x)

{5, 6}

We can convert a *set* to a *list* by calling the built-in *list()* function:

In [104]:
list(x)

[1, 2, 3, 4]

## Dictionaries

A *dictionary* (sometimes called a *map*) is a data structure consisting of *(key:value)* pairs. Each *key* is linked to a *value*, and keys are unique.

Dictionaries can be created using curly bracket notation, and can either be initially empty or populated with one or more pairs.

In [105]:
# create an empty dictionary
d0 = {}
d0

{}

In [106]:
# create a dictionary containing two pairs 
d1 = {"Ireland":"Dublin", "France":"Paris"}
d1

{'Ireland': 'Dublin', 'France': 'Paris'}

In [107]:
# create a dictionary containing three pairs 
d2 = {"age":22, "name":"alice", 100:False}
d2

{'age': 22, 'name': 'alice', 100: False}

We can check the number of key-value pairs in a dictionary using the built-in *len()* function:

In [108]:
len(d2)

3

Note that types of keys and values in a dictionary can be mixed

In [109]:
mixedmap = {1:"ucd", 0.8:False, "b":10, "c":"d"}
mixedmap

{1: 'ucd', 0.8: False, 'b': 10, 'c': 'd'}

We can access a value in a dictionary by using the square bracket notation and specifying the corresponding key:

In [110]:
d1["Ireland"]

'Dublin'

In [111]:
d2["name"]

'alice'

In [112]:
mixedmap[1]

'ucd'

If we try to access a value for a non-existent key in a dictionary, we will get an error message:

In [113]:
d1["Sweden"]

KeyError: 'Sweden'

To avoid this type of error, check for the presence of a key in a dictionary using the **in** operator:

In [114]:
"Ireland" in d1

True

In [115]:
"Sweden" in d1

False

We can easily add new values to a dictionary using square bracket notation and assignment. If a does not already exist for a given key, it will be added.

In [116]:
d1["Germany"] = "Berlin"
d1

{'Ireland': 'Dublin', 'France': 'Paris', 'Germany': 'Berlin'}

If a value for the key exists, the previous value will be over-written.

In [117]:
d1["Ireland"] = "Cork"
d1

{'Ireland': 'Cork', 'France': 'Paris', 'Germany': 'Berlin'}

Dictionaries have various associated functions to access the keys and/or values.

In [118]:
# get only the keys from a dictionary
d2.keys()

dict_keys(['age', 'name', 100])

In [119]:
# get only the values from a dictionary
d2.values()

dict_values([22, 'alice', False])

In [120]:
# get all (key:value) pairs as tuples
d2.items()

dict_items([('age', 22), ('name', 'alice'), (100, False)])